* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

#theme-toggle-button img {
  width: 60px; 
  height: 30px;
  margin-top: 3%;
  margin-left: -90%;
}

/* Estilo para a mensagem de erro */
#error-message {
  display: none; 
  background-color: #ff2718; 
  color: white; 
  padding: 15px; 
  text-align: center; 
  border-radius: 5px; 
  position: fixed; 
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
}


.language-dropdown {
  position: relative;
  display: flex; 
  align-items: center;
  gap: 8px; 
}

.navbar img {
  padding: 0;
  margin: 0;
  width: 200px;
  height: auto; 
  position: absolute; 
  top: 0;
  left: 0;
}

.language-dropdown .btn {
  border: none;
  background: none;
  cursor: pointer;
}

.language-dropdown img.language-flag {
  width: 24px;
  height: 16px;
}

.theme-icon-mobile {
  margin-right: 100px;
}

.language-dropdown .dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #2b2b2bbe;
  border: 1px solid #ccc;
  width: 150px;
  top: 40px; 
  left: 0; 
  display: none;
  z-index: 10;
  border-radius: 5px;
}

.language-dropdown .dropdown li {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language-dropdown .dropdown li img {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

/* Quando o dropdown estiver ativo */
.language-dropdown .dropdown.active {
  display: block; 
  padding: 5px;
  margin-left: -100px;
}

/* Ajustes específicos para a posição de cada bandeira */
.language-dropdown .dropdown li:first-child img {
  margin-top: 14px; /* PT-BR */
  margin-left: 90px;
}

.language-dropdown .dropdown li:nth-child(2) img {
  margin-top: 52px; /* EN */
  margin-left: 90px;
}

.language-dropdown .dropdown li:last-child img {
  margin-top: 90px; /* ES */
  margin-left: 90px;
}

/* Vídeo de apresentação */
.video-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  width: 100%;
  max-width: 600px;
  height: 340px;
  border-radius: 8px;
}

.carousel-container {
  margin: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 2rem;
  transition: transform 0.2s linear;
}

.carousel-item {
  min-width: 300px; 
  flex-shrink: 0;
  text-align: center;
}

.flag-pt {
  margin-top: 100px;
}
.flag-es {
  margin-top: -100px;
}

.carousel-item img {
  width: 100%;
  max-width: 250px; 
  height: auto;
  border-radius: 10px;
}

.carousel-item h3 {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.6rem;
  margin-top: 15rem;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skills {
  background-color: var(--skills-bg);
  color: var(--skills-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--text-color2);
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--text-color-dark2);
}

.secondary-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__links a {
  color: var(--navbar-text);
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.navbar__links a:hover {
  color: var(--secondary-color);
}

#theme-toggle-button {
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Estilo para quando o caractere X estiver visível */
.burguer {
  font-size: 24px;
  color: #333; /* Escolha uma cor que combine com seu design */
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
}

#theme-toggle-button:hover {
  background-color: var(--dark-secondary-color);
}

.tertiary-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--secondary-color);
}

.flag-img {
  width: 10px;
  height: 10px;
  border-radius: 0.5rem;
}
p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.5rem;
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
}

.btn.btn-primary {
  background-color: var(--dark-secondary-color);
  color: var(--white);
  font-weight: 400;
  font-size: 1.4rem;
}

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

#theme-toggle-button {
  background-color: var(--navbar-bg);
}

/* Alternando as cores de fundo das LI no campo de Projetos */
.projects ul li:nth-child(odd) {
  background-color: var(--background-color);
  width: 90%; /* Definindo o tamanho do quadrado */
  margin: -10px auto; 
  margin-top: 50px;
  margin-bottom: 50px; 
  border-radius: 20px; 
}

.projects ul li:nth-child(even) {
  background-color: var(--background-color); /* Cor de fundo mais escura */
  width: 90%; /* Definindo o tamanho do quadrado */
  margin-top: 50px;
  margin-bottom: 50px; 
  margin: -10px auto; 
  border-radius: 20px; 
}

/* Estilos para os ícones de tecnologias utilizadas nos projetos */
.projects__info .tech-icons img {
  border-radius: 50%; /* Tornando as imagens circulares */
  width: 30px; /* Ajuste do tamanho da imagem */
  height: 30px;
  margin-right: 10px; /* Espaço entre as imagens */
}



/* Adicionando flexbox para as tecnologias na descrição do projeto */
.projects__info .tech-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.projects__info .tech-icons span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

/* Estilo para as imagens de botões */
.button-image {
  width: 200px;  /* Ajuste o tamanho conforme necessário */
  height: auto;  
  margin: 5px 0;
  transition: transform 0.3s ease; /* Suaviza o efeito de zoom */
}

.button-link {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px; 
}

.button-link:hover .button-image {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}


#theme-toggle-button img {
  width: 60px; 
  height: 30px;
  margin-top: -9px;
 margin-left: -80px;
}

@media only screen and (max-width: 1199px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }

  

  .navbar__links a{
    font-size: medium;
    margin-left: -10%;
  }


  #theme-toggle-button img {
    width: 60px; 
    height: 30px;
    margin-top: -9px;
   margin-left: -80px;
  }
  #theme-toggle-button {
    background-color: var(--navbar-bg);
  }
  .navbar .navbar__content{
    margin-right: 30px;
    margin-left: 175px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }

  .navbar .navbar__content{
    margin-right: 30px;
  }

  .navbar img {
    width: 150px;
    height: auto; 
    top: 30%;
    left: 0;
}

.language-dropdown .dropdown li:first-child img {
  margin-top: 2px; /* PT-BR */
  margin-left: 90px;
}

.language-dropdown .dropdown li:nth-child(2) img {
  margin-top: 40px; /* EN */
  margin-left: 90px;
}

.language-dropdown .dropdown li:last-child img {
  margin-top: 75px; /* ES */
  margin-left: 90px;
}

#theme-toggle-button img {
  width: 60px; 
  height: 30px;
  margin-top: -9px;
 margin-left: -80px;
}
#theme-toggle-button {
  background-color: var(--navbar-bg);
}
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .max-width {
    padding: 0 2rem;
  }

  

  .navbar img {
    width: 100px;
    height: auto; 
    top: 10%;
    left: 0;
}

.language-dropdown .dropdown li:first-child img {
  margin-top: 2px; /* PT-BR */
  margin-left: 90px;
}

.language-dropdown .dropdown li:nth-child(2) img {
  margin-top: 40px; /* EN */
  margin-left: 90px;
}

.language-dropdown .dropdown li:last-child img {
  margin-top: 75px; /* ES */
  margin-left: 90px;
}

#theme-toggle-button img {
  width: 60px; 
  height: 30px;
  margin-top: -9px;
 margin-left: -80px;
}
#theme-toggle-button {
  background-color: var(--navbar-bg);
}
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 4.2rem;
  }
  .navbar img {
    width: 100px;
    height: auto; 
    top: 10%;
    left: 0;
  } 

  .language-dropdown .dropdown li:first-child img {
    margin-top: 2px; /* PT-BR */
    margin-left: 90px;
  }
  
  .language-dropdown .dropdown li:nth-child(2) img {
    margin-top: 40px; /* EN */
    margin-left: 90px;
  }
  
  .language-dropdown .dropdown li:last-child img {
    margin-top: 75px; /* ES */
    margin-left: 90px;
  }

  #theme-toggle-button img {
    width: 60px; 
    height: 30px;
    margin-top: -9px;
   margin-left: -80px;
  }

  #theme-toggle-button {
    background-color: var(--navbar-bg);
  }
}

