@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Righteous', sans-serif;
}

body {
  background: linear-gradient(68.15deg, #222020 16.62%, #00a708 85.61%);
}

h1, h2, h3 {
  background: linear-gradient(68.15deg, #053800 16.62%, #007e04 85.61%);
  line-height: 40px;
  border-radius: 10px
}

.div-divisor {
  display: flex;

}

.bio-ptbr {
  display: flex;
  align-items: center;
  margin: 50px;
}

header p {
  font-size: small;
  color: rgb(145, 145, 145);
  margin-left: 15px;
}

header h2 {
  display: flex;
  margin: 10px;
}

header h1 {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

p, h1, h2, h3 {
  color:aliceblue
}

#inicio {
  line-height: 50px;
  border-radius: 20px
};

.finalpage {
  text-align: center;
}

.bio-english {
  display: none;
}

