
body {
    background-color:rgb(32, 32, 32);
    font-family: sans-serif;
    

}
h1, h2, h3 { background-color:rgb(70, 70, 70); 

    line-height: 40px;
}
p, h1, h2, h3 {
    color:aliceblue
}
#inicio {

    font-family: 'Courier New', Courier, monospace;
}
.part1 {
    background-color: rgb(0, 0, 0);
    text-align: center;
}