@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap');
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: linear-gradient(68.15deg, #222020 16.62%, #00a708 85.61%);
    font-family: sans-serif;
}
h1, h2, h3 { 
    background: linear-gradient(68.15deg, #053800 16.62%, #007e04 85.61%);
    line-height: 40px;
}
#inicio{
    font-family: Righteous;
}
p, h1, h2, h3 {

    color:aliceblue
}
#inicio {

    font-family: 'Courier New', Courier, monospace;
}
.part1 {
    background-color: rgb(20, 20, 20);
    text-align: center;
}
p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.finalpage{

    text-align: center;
    
}
